doctype html
html
  head
    title="Sandbox"
    link(rel='stylesheet', href='./css/style.css')
    script(src='js/all.js')
  body
    div#container
        div#page
            div#placeRadius
                include ./radius.jade
            div#placeBoxShadow
                include ./boxshadow.jade
            div#placeKeyCodes
                include ./keycodes.jade
        div#navigation
            ul
                li
                    a(href="#radius") CSS Radius
                li
                    a(href="#boxshadow") CSS Box-Shadow
                li
                    a(href="#keycodes") JS KeyCodes

    script.
        var navigation = new Navigation();
        navigation.addPage("radius", document.querySelector("#navigation a[href='#radius']"), document.querySelector("#placeRadius"));
        navigation.addPage("boxshadow", document.querySelector("#navigation a[href='#boxshadow']"), document.querySelector("#placeBoxShadow"));
        navigation.addPage("keycodes", document.querySelector("#navigation a[href='#keycodes']"), document.querySelector("#placeKeyCodes"));
        navigation.go("keycodes");

